body {
  background-color: #000;
  color: white;

}

.container {
  width: 1285px;

  margin-right: 20%;
}

#header {
  border-bottom:4px solid white;
  overflow: auto;
}

#title {
  font-size: 30px;
  float: left;
  overflow: auto;
}

#numbers {
  font-size: 20px;
  float: right;
  overflow: auto;
  margin-right: 10px;
}

#go {
  float: right;
  overflow: auto;
}

#alert {
  float: right;
  overflow: auto;
}

#leftside {
  float: left;
}

#rightside {
  float: right;
}

/*All Boxes*/

.box {
  width: 550px;
  margin: 25px;
  border-radius: 10px;
  border: 2px solid white;
}

.heading {
  height: 50px;
  padding-bottom: 15px;
  padding-right: 10px;
  border-radius: 5px 5px 0px 0px;
}

.java {
  background-color: #02b5f7;

}

.python {
  background-color: pink;
}

.word-press {
  background-color: lightblue;
}

.books {
  float: left;
}

.dots {
  float: left;
}

.time {
  float: right;
}

/*Inside Boxes*/
.content {
  /*clear: both;*/
  padding: 5px 30px 5px 30px;
}

.course {
  font-size: 17px;
  color: white;
}

.content-title {
  font-size: 20px;
  color: grey;
}

.content-text {
  font-size: 16px;
  color: white;
}

/*Box Footer*/
.footer {
clear: both;
padding: 5px 30px 5px 30px;
overflow: auto;
}

.btn-left {
  float: left;
  border: 2px solid white;
  border-radius: 45px;
  padding: 5px;
  margin-right: 5px;
}

.btn-right {
  float: left;
  border: 2px solid white;
  border-radius: 45px;
  padding: 5px;
}

.star {
  float: right;
}

.play {
  float: right;
}
